<!DOCTYPE html>
<html>
<head>
  <title>VIDYA MARG</title>
  <link rel="stylesheet" href="css/project.css">
</head>
<body class="login-body">

<div class="login-container">
  <h2>🎓 VIDYA MARG</h2>

<input type="email" id="email" placeholder="Email">
<input type="password" id="password" placeholder="Password">

<button onclick="loginUser()">Login</button>
<button onclick="signupUser()">Sign Up</button>
<button onclick="logout()">Logout</button>

<p id="message"></p>

<script type="module" src="js/firebase.js"></script>


</div>

<script src="js/project.js"></script>
</body>
</html>
